C#/ComicSorter_v2/ComicSorter/bin/
C#/ComicSorter_v2/DirectoryCreation/bin/
C#/ComicSorter_v2/ComicSorter/obj/
C#/ComicSorter_v2/DirectoryCreation/obj/
C#/ComicSorter_v2/ComicSorter_v2/bin/
C#/ComicSorter_v2/ComicSorter_v2/obj/
